{% extends 'productapp/base.html' %}
{% block content %}

{% load static %}
	<!-- Site hero starts here-->
	<div class="main-wrapper">
	<div class="container">
	<!-- Site hero ends here-->
	<div class="about-wrapper">
        <div class="title-wrapper">
            <h3 class="title">Privacy</h3>
        </div>
    <div class="content-wrapper">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sollicitudin nibh, sed fermentum dolor. Sed eu purus mauris. Morbi et urna ultrices, scelerisque erat eu, vehicula sapien. In vitae ex eros. Etiam suscipit egestas consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus rhoncus elementum ex, ac laoreet arcu euismod in. Morbi pulvinar tempus neque a porttitor. Aliquam sed purus a sapien pharetra tincidunt non et lectus. Praesent non urna dictum, sollicitudin dolor ut, commodo nulla. Suspendisse potenti. Mauris ultricies ultrices imperdiet. Etiam nec ligula nisi. Sed bibendum, elit facilisis dictum congue, est dui placerat odio, et tristique sapien sapien sed odio. Sed a justo quis neque pharetra hendrerit in non nisl.
            </p>
            <p>
            Pellentesque cursus posuere magna, a scelerisque nisi eleifend ut. Fusce efficitur tempus tellus, ut pellentesque lorem cursus eu. Suspendisse interdum elit eu luctus porttitor. Praesent varius erat eu sodales suscipit. Curabitur ex neque, feugiat ac convallis at, ultricies at odio. Pellentesque euismod, mi eget malesuada fermentum, mi urna porta tortor, non tempor massa arcu ac sem. Donec tempus ligula a facilisis interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus feugiat hendrerit efficitur. Aliquam sodales volutpat massa pellentesque ullamcorper. Nullam eu consectetur diam, id molestie felis. Pellentesque quis massa nec elit ornare iaculis in sit amet tortor. Aenean quis tempus purus. Etiam non iaculis sapien, et maximus tellus. Praesent auctor hendrerit dui, ac tempor sem ultrices non. Duis ullamcorper vestibulum bibendum.
            </p>
            <p>
            Donec non lectus eu neque vehicula iaculis vitae vehicula metus. Vivamus augue erat, fermentum a vulputate sed, finibus ut elit. Praesent non neque eget arcu viverra molestie. Maecenas accumsan malesuada fermentum. Donec consequat non dolor ut condimentum. Nam et turpis sem. Praesent pretium suscipit erat in rutrum. Vivamus dictum sapien quis massa consequat, a auctor lacus maximus.
            </p>
            <p>
            Suspendisse potenti. Nunc ex ligula, consectetur eget scelerisque id, interdum vitae tortor. Curabitur quis eleifend tellus. Ut sem quam, tempor in dapibus a, commodo a urna. Vestibulum condimentum orci quis tortor dignissim laoreet. Nulla pretium, leo ac aliquet ullamcorper, ex felis lacinia nulla, vel viverra quam velit in metus. Nulla venenatis accumsan nisi. In laoreet, velit et semper ultrices, felis ipsum feugiat ex, quis consectetur purus ex eu sem. Ut elementum orci vitae nisl aliquam sollicitudin. Maecenas fringilla mollis urna, sodales ullamcorper sem congue eget. Maecenas nunc velit, laoreet eu mi at, elementum facilisis lorem. Curabitur id tempus massa. Praesent venenatis libero odio, ac suscipit sapien pharetra ac. Morbi egestas pharetra suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc a dui a nisl laoreet fringilla.
            </p>
            <p>
            Sed ornare felis libero, tincidunt malesuada nisl maximus eget. Donec nec molestie sapien, id pellentesque lectus. Sed sed ante a augue lacinia posuere eu id dolor. Vivamus laoreet turpis at scelerisque laoreet. Pellentesque eget sapien ut dui consectetur vestibulum et eget massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras elementum maximus aliquet. Ut sodales fermentum sem, quis volutpat nisi gravida vitae. Maecenas et congue erat.
            </p>
    </div>
	</div>
	
</div>
</div>

{% endblock %}